.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;

    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    display: none; !important;
}

#toast-container > div {
    opacity: 1 !important;
}