/* Select2 */
span.select2.select2-container * {
    cursor: text;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected="true"] {
    display: none;
}

#list .select2-container--bootstrap4 .select2-selection {
    border: none;
}

#list,
#list * {
    cursor: default;
}
