.alertify .ajs-header {
    color: #0d6efd;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    color: #0d6efd;
}

.alertify-notifier .ajs-message.ajs-error.ajs-visible {
    text-shadow: none;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok,
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel {
    display: inline-block;
    padding: .375rem .75rem;
    color: #ffffff;

    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-transform: none;

    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    background-color: #0d6efd;
    border-color: #0d6efd;
}


.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    outline: 0;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel {
    background-color: #28a745;
    border-color: #28a745;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    outline: 0;
}
