.form__ {
    display: flex;
}

.left {
    width: 60%;
}

.right {
    margin-left: 2%;
    width: 38%;
}

.select_date {
    width: 30%;
}

.input_date {
    height: 38px;
}

.disable {
    background-color: gray;
    border-color: gray;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}