.form__ {
    display: flex;
}

.left {
    width: 60%;
}

.right {
    margin-left: 2%;
    width: 38%;
}

.select_date {
    width: 30%;
}

.disable {
    background-color: gray;
    border-color: gray;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.input-date {
    position: relative;
    width: 160px; height: 35px; font-size: 18px;
    color: white;
}

.input-date:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

.input-date::-webkit-clear-button{
    display: none;
}

.input-date::-webkit-inner-spin-button{
    display: none;
}

.input-date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    main {
        margin-top: 160px;
    }
}

@media only screen and (max-width: 400px) {
    main {
        margin-top: 220px;
    }
}